.terminal {
    top: 10px;
    bottom: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    max-width: 700px;
    margin-bottom: auto;
    padding: 10px;
    position: relative;
}

.terminal__header {
    display: flex;
    padding: 2px;
    position: absolute;
    top: -10px;
    left: 10px;
}

.terminal__button {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}

.terminal__button--red {
    background-color: #ff5f56;
}

.terminal__button--yellow {
    background-color: #ffbd2e;
}

.terminal__button--green {
    background-color: #27c93f;
}

.terminal__content {
    margin: 0;
    padding: 15px 0;
    white-space: pre-wrap;
}
